
/*Estilos Generales*/
/* Aplicado a todo el documento */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 300px; /* ocupa toda la pantalla */
  background-image: url("img/imgFondo.jpg");
  background-size: cover;        /* CLAVE */
  background-position: center 35%;   /* CLAVE */
  background-repeat: no-repeat;
  position: relative;
}

.Menu {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
}

.Menu ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.Menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

